
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body {
	height: max-content;
}
input {
	font-family: 'Courier New', monospace;
}

button {
	cursor: pointer;
	/* box-shadow: 0 9px #999; */
}
button:active {
	transform: translateY(5px);
}

main {
	width: 60vw;
	max-width: 600px;
	height: max-content;
	margin: auto;
}

.subTitle {
	text-align: center;
	margin-top: 20px;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-style: solid;
	padding-bottom: 10px;
}
.addBtn {
	display: block;
	margin: auto;
	/* width: 100px; */
	height: 30px;
	margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
	main {
		width: 100%;
		border: none;
	}
}