body {
	height: max-content;
	background-color: rgb(55,65,81) !important;
}
input {
	font-family: 'Courier New', monospace;
}
button {
	cursor: pointer;
}
button:active {
	transform: translateY(5px);
}

main {
	width: 60vw;
	max-width: 600px;
	height: max-content;
	margin: auto;
}